<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kebunit.androidallinone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_apps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_apps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.loopitem.LoopItemActivity"></activity>
        <activity android:name=".activity.slider.SliderActivity" />
        <activity android:name=".activity.searchview.SearchViewActivity" />

        <receiver android:name=".activity.notification.NotificationReceiver" />

        <activity android:name=".activity.notification.NotificationActivity" />
        <activity android:name=".activity.timercountdown.CountdownTimerActivity" />
        <activity android:name=".activity.timercountdown.CountdownTimerActivity" />
        <activity
            android:name=".activity.qrcode.ScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activity.qrcode.QrScannerActivity" />
        <activity
            android:name=".activity.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activity.currency.FormatNumberActivity" />
        <activity
            android:name=".activity.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.viewpager.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.qrcode.QrGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.basiclayout.BasicLayoutActivity" />
        <activity android:name=".activity.popup.PopupActivity" />
        <activity android:name=".activity.horizontalscroll.HorizontalScrollActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewActivity" />
        <activity android:name=".activity.listview.ListViewActivity" />
        <activity android:name=".activity.gridview.GridViewActivity" />
        <activity android:name=".activity.home.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>